In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,2,4,6,7])

In [3]:
s

0    1
1    2
2    4
3    6
4    7
dtype: int64

In [4]:
dates = pd.date_range('20210609', periods=5)

In [5]:
dates

DatetimeIndex(['2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(5, 4), index = dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2021-06-09 -0.550111  1.570150 -2.057431  0.058547
2021-06-10 -0.229350  1.626667 -1.697047  0.066035
2021-06-11 -2.082050 -0.030690  0.551818  0.084764
2021-06-12 -2.021212 -1.295692 -0.250714  0.624834
2021-06-13 -0.549771  0.551846 -0.103707  1.117387

In [8]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [9]:
df.head()

                   A         B         C         D
2021-06-09 -0.550111  1.570150 -2.057431  0.058547
2021-06-10 -0.229350  1.626667 -1.697047  0.066035
2021-06-11 -2.082050 -0.030690  0.551818  0.084764
2021-06-12 -2.021212 -1.295692 -0.250714  0.624834
2021-06-13 -0.549771  0.551846 -0.103707  1.117387

In [10]:
df.head(2)

                   A         B         C         D
2021-06-09 -0.550111  1.570150 -2.057431  0.058547
2021-06-10 -0.229350  1.626667 -1.697047  0.066035

In [11]:
df.tail(2)

                   A         B         C         D
2021-06-12 -2.021212 -1.295692 -0.250714  0.624834
2021-06-13 -0.549771  0.551846 -0.103707  1.117387

In [12]:
df.index

DatetimeIndex(['2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.to_numpy()

array([[-0.55011112,  1.57014963, -2.0574309 ,  0.05854695],
       [-0.22935036,  1.62666732, -1.69704749,  0.06603463],
       [-2.08205012, -0.03068951,  0.55181754,  0.08476421],
       [-2.02121244, -1.29569224, -0.25071398,  0.62483441],
       [-0.54977078,  0.5518464 , -0.10370718,  1.1173867 ]])

In [15]:
df.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean  -1.086499  0.484456 -0.711416  0.390313
std    0.890969  1.216781  1.113614  0.472287
min   -2.082050 -1.295692 -2.057431  0.058547
25%   -2.021212 -0.030690 -1.697047  0.066035
50%   -0.550111  0.551846 -0.250714  0.084764
75%   -0.549771  1.570150 -0.103707  0.624834
max   -0.229350  1.626667  0.551818  1.117387

In [16]:
df.T

   2021-06-09  2021-06-10  2021-06-11  2021-06-12  2021-06-13
A   -0.550111   -0.229350   -2.082050   -2.021212   -0.549771
B    1.570150    1.626667   -0.030690   -1.295692    0.551846
C   -2.057431   -1.697047    0.551818   -0.250714   -0.103707
D    0.058547    0.066035    0.084764    0.624834    1.117387

In [17]:
df.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2021-06-09  0.058547 -2.057431  1.570150 -0.550111
2021-06-10  0.066035 -1.697047  1.626667 -0.229350
2021-06-11  0.084764  0.551818 -0.030690 -2.082050
2021-06-12  0.624834 -0.250714 -1.295692 -2.021212
2021-06-13  1.117387 -0.103707  0.551846 -0.549771

In [18]:
df.sort_values(by = 'B')

                   A         B         C         D
2021-06-12 -2.021212 -1.295692 -0.250714  0.624834
2021-06-11 -2.082050 -0.030690  0.551818  0.084764
2021-06-13 -0.549771  0.551846 -0.103707  1.117387
2021-06-09 -0.550111  1.570150 -2.057431  0.058547
2021-06-10 -0.229350  1.626667 -1.697047  0.066035

In [19]:
df['C']

2021-06-09   -2.057431
2021-06-10   -1.697047
2021-06-11    0.551818
2021-06-12   -0.250714
2021-06-13   -0.103707
Freq: D, Name: C, dtype: float64

In [20]:
df[0:3]

                   A         B         C         D
2021-06-09 -0.550111  1.570150 -2.057431  0.058547
2021-06-10 -0.229350  1.626667 -1.697047  0.066035
2021-06-11 -2.082050 -0.030690  0.551818  0.084764

In [21]:
df['20210610':'20210611']

                  A         B         C         D
2021-06-10 -0.22935  1.626667 -1.697047  0.066035
2021-06-11 -2.08205 -0.030690  0.551818  0.084764

In [23]:
df.loc[dates[0]]

A   -0.550111
B    1.570150
C   -2.057431
D    0.058547
Name: 2021-06-09 00:00:00, dtype: float64

In [24]:
df.loc[:, ['A', 'B']]

                   A         B
2021-06-09 -0.550111  1.570150
2021-06-10 -0.229350  1.626667
2021-06-11 -2.082050 -0.030690
2021-06-12 -2.021212 -1.295692
2021-06-13 -0.549771  0.551846

In [25]:
df.loc['20210609':'20210611',['A', 'C']]

                   A         C
2021-06-09 -0.550111 -2.057431
2021-06-10 -0.229350 -1.697047
2021-06-11 -2.082050  0.551818

In [26]:
df.iloc[3]

A   -2.021212
B   -1.295692
C   -0.250714
D    0.624834
Name: 2021-06-12 00:00:00, dtype: float64

In [28]:
df.iloc[2:4,0:3]

                   A         B         C
2021-06-11 -2.082050 -0.030690  0.551818
2021-06-12 -2.021212 -1.295692 -0.250714

Boolean Indexing

In [29]:
df[df.A > 0]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [30]:
df.A

2021-06-09   -0.550111
2021-06-10   -0.229350
2021-06-11   -2.082050
2021-06-12   -2.021212
2021-06-13   -0.549771
Freq: D, Name: A, dtype: float64

In [32]:
df[df.A < 0]

                   A         B         C         D
2021-06-09 -0.550111  1.570150 -2.057431  0.058547
2021-06-10 -0.229350  1.626667 -1.697047  0.066035
2021-06-11 -2.082050 -0.030690  0.551818  0.084764
2021-06-12 -2.021212 -1.295692 -0.250714  0.624834
2021-06-13 -0.549771  0.551846 -0.103707  1.117387

In [36]:
df.isnull()

                A      B      C      D
2021-06-09  False  False  False  False
2021-06-10  False  False  False  False
2021-06-11  False  False  False  False
2021-06-12  False  False  False  False
2021-06-13  False  False  False  False

In [38]:
df.isna()

                A      B      C      D
2021-06-09  False  False  False  False
2021-06-10  False  False  False  False
2021-06-11  False  False  False  False
2021-06-12  False  False  False  False
2021-06-13  False  False  False  False

In [39]:
df.mean()

A   -1.086499
B    0.484456
C   -0.711416
D    0.390313
dtype: float64

In [40]:
df.median()

A   -0.550111
B    0.551846
C   -0.250714
D    0.084764
dtype: float64

In [41]:
df.to_json('new.json')

In [42]:
ls

 Volume in drive C has no label.
 Volume Serial Number is EEB2-37E3

 Directory of C:\Users\Admin\Documents\GettingStartedWithML\18_pandas

09-06-2021  00:57    <DIR>          .
09-06-2021  00:57    <DIR>          ..
09-06-2021  00:36    <DIR>          .ipynb_checkpoints
09-06-2021  00:57               612 new.json
09-06-2021  00:56            45,916 Pandas_Walkthrough.ipynb
               2 File(s)         46,528 bytes
               3 Dir(s)  213,180,919,808 bytes free

In [43]:
df.to_csv('newcsv.csv')

In [44]:
ls

 Volume in drive C has no label.
 Volume Serial Number is EEB2-37E3

 Directory of C:\Users\Admin\Documents\GettingStartedWithML\18_pandas

09-06-2021  00:58    <DIR>          .
09-06-2021  00:58    <DIR>          ..
09-06-2021  00:36    <DIR>          .ipynb_checkpoints
09-06-2021  00:57               612 new.json
09-06-2021  00:58               466 newcsv.csv
09-06-2021  00:56            45,916 Pandas_Walkthrough.ipynb
               3 File(s)         46,994 bytes
               3 Dir(s)  213,167,484,928 bytes free

In [45]:
csv_data = pd.read_csv('newcsv.csv')

In [46]:
csv_data

   Unnamed: 0         A         B         C         D
0  2021-06-09 -0.550111  1.570150 -2.057431  0.058547
1  2021-06-10 -0.229350  1.626667 -1.697047  0.066035
2  2021-06-11 -2.082050 -0.030690  0.551818  0.084764
3  2021-06-12 -2.021212 -1.295692 -0.250714  0.624834
4  2021-06-13 -0.549771  0.551846 -0.103707  1.117387