![](https://d33wubrfki0l68.cloudfront.net/7fe2455c93b278f745d39908183732336b20f4be/709b4/static/57fd2448dfb67cfff990f32191463e80/6d7b8/plot_hyperplanes_2.png)
Source : https://monkeylearn.com/blog/introduction-to-support-vector-machines-svm/

![](https://i1.wp.com/cmdlinetips.com/wp-content/uploads/2021/02/Linearly_Separable_Data_Example.png?fit=539,234&ssl=1)
Source : https://www.analyticsvidhya.com/blog/2021/05/support-vector-machines/

![](https://miro.medium.com/max/2400/1*mCwnu5kXot6buL7jeIafqQ.png)
Source : https://medium.com/@zxr.nju/what-is-the-kernel-trick-why-is-it-important-98a98db0961d

Kernelization - Technique where you take a low dimension space data and convert it into high dimension space.

# Polynomial Kernel

\begin{equation*}
K(X_1, X_2) = \left( x_1^T * X_2 + c \right)^d
\end{equation*}

# Radial Basis Function Kernel

![](https://miro.medium.com/max/265/1*ZMCGXM4ROxEXlNe0SUlToA.jpeg)
Source : https://towardsdatascience.com/radial-basis-function-rbf-kernel-the-go-to-kernel-acf0d22c798a

In [227]:
import pandas as pd
df = pd.read_csv('./titanic.csv')

In [228]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [229]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [230]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [231]:
from sklearn.impute import SimpleImputer
imputation = SimpleImputer(strategy='mean')
Age = imputation.fit_transform(df[['Age']])
df = df.drop('Age', axis = 1)
df['Age'] = Age

In [232]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Age              0
dtype: int64

In [233]:
df.loc[df.Embarked.isna()]

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
61,62,1,1,"Icard, Miss. Amelie",female,0,0,113572,80.0,B28,NaN,38.0
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,0,0,113572,80.0,B28,NaN,62.0

In [234]:
df = df.dropna(subset=['Embarked'])

In [235]:
df.loc[df.Embarked.isna()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Age]
Index: []

In [236]:
df[['female', 'male']] = pd.get_dummies(df.Sex)

In [237]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age,female,male
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,22.0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,38.0,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,35.0,1,0
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,35.0,0,1

In [238]:
df = df.drop('Sex', axis = 1)

In [239]:
df.Embarked.unique()

array(['S', 'C', 'Q'], dtype=object)

In [240]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Embarked = le.fit_transform(df.Embarked)
df = df.drop('Embarked', axis = 1)
df['Embarked'] = Embarked

In [241]:
X = df[['Pclass', 'female', 'male', 'Embarked', 'Age']]
y = df.Survived

In [242]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_x = scaler.fit_transform(X)
X = scaled_x

In [243]:
X

array([[ 0.82520863, -0.73534203,  0.73534203,  0.58683958, -0.59049493],
       [-1.57221121,  1.35991138, -1.35991138, -1.93955453,  0.64397101],
       [ 0.82520863,  1.35991138, -1.35991138,  0.58683958, -0.28187844],
       ...,
       [ 0.82520863,  1.35991138, -1.35991138,  0.58683958,  0.00352373],
       [-1.57221121, -0.73534203,  0.73534203, -1.93955453, -0.28187844],
       [ 0.82520863, -0.73534203,  0.73534203, -0.67635748,  0.18104628]])

In [244]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2)

In [245]:
X_train.shape

(711, 5)

In [246]:
from sklearn.svm import SVC
linear_model = SVC(kernel='linear')

In [247]:
linear_model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [248]:
linear_predictions = linear_model.predict(X_test)

In [249]:
from sklearn.metrics import accuracy_score

In [250]:
accuracy_score(y_test, linear_predictions)

0.797752808988764

In [251]:
linear_model.score(X_train, y_train)

0.7834036568213784

In [252]:
poly_model = SVC(kernel='poly')
poly_model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [253]:
poly_preds = poly_model.predict(X_test)

In [254]:
accuracy_score(y_test, poly_preds)

0.8202247191011236

In [255]:
poly_model.score(X_train, y_train)

0.8241912798874824

In [256]:
rbf_model = SVC()

In [257]:
rbf_model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [258]:
rbf_preds = rbf_model.predict(X_test)

In [259]:
accuracy_score(y_test, rbf_preds)

0.8258426966292135

In [260]:
rbf_model.score(X_train, y_train)

0.8241912798874824