In [109]:
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris()

In [110]:
X = pd.DataFrame(data.data, columns = data.feature_names)
y = pd.Series(data = data.target, name = 'Target')

In [111]:
from sklearn.model_selection import train_test_split

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [113]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
11                 4.8               3.4                1.6               0.2
82                 5.8               2.7                3.9               1.2
119                6.0               2.2                5.0               1.5
135                7.7               3.0                6.1               2.3
140                6.7               3.1                5.6               2.4
..                 ...               ...                ...               ...
31                 5.4               3.4                1.5               0.4
36                 5.5               3.5                1.3               0.2
108                6.7               2.5                5.8               1.8
104                6.5               3.0                5.8               2.2
106                4.9               2.5                4.5               1.7

[120 rows x 4 columns]

In [114]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
knn.score(X_train, y_train)

0.975

![](https://scikit-learn.org/stable/_images/grid_search_cross_validation.png) \
Source ~ https://scikit-learn.org/stable/modules/cross_validation.html

In [115]:
from sklearn.model_selection import KFold

In [116]:
k_value = KFold(n_splits = 5)

In [117]:
train_id, test_id = [], []
for training_id, testing_id in k_value.split(X):
    train_id.append(training_id)
    test_id.append(testing_id)

In [118]:
X.loc[train_id[0]]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
30                 4.8               3.1                1.6               0.2
31                 5.4               3.4                1.5               0.4
32                 5.2               4.1                1.5               0.1
33                 5.5               4.2                1.4               0.2
34                 4.9               3.1                1.5               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[120 rows x 4 columns]

In [119]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(knn, X, y, cv = k_value, scoring = 'accuracy')

In [120]:
score.mean()

0.9133333333333333

In [121]:
score

array([1.        , 1.        , 0.83333333, 0.93333333, 0.8       ])

In [122]:
scores = list()
def highest_score_evaluator(model, features_data, labels):
    for i in range(0, len(train_id)):
        X_train = features_data.loc[train_id[i]]
        y_train = labels.loc[train_id[i]]
        model.fit(X_train, y_train)
        scores.append(model.score(X_train, y_train))
        highest_score = max(scores)
    return highest_score
highest = highest_score_evaluator(knn, X, y)

In [123]:
highest

0.9916666666666667

In [124]:
scores

[0.9583333333333334,
 0.9583333333333334,
 0.9916666666666667,
 0.975,
 0.9833333333333333]

In [125]:
X_train = X.loc[train_id[2]]
y_train = y.loc[train_id[2]]
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [126]:
knn.score(X_train, y_train)

0.9916666666666667