In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
X_data = df[['Age', 'Pclass']]

In [6]:
X_data.shape

(891, 2)

In [7]:
X_data.head()

    Age  Pclass
0  22.0       3
1  38.0       1
2  26.0       3
3  35.0       1
4  35.0       3

In [8]:
y_data = df['Survived']

In [9]:
y_data.shape

(891,)

In [10]:
y_data.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [11]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (0.22.2)
Requirement already satisfied: scipy>=0.17.0 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.6.0)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.0.0)
Requirement already satisfied: numpy>=1.11.0 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.19.5)

WARNING: You are using pip version 21.0; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, random_state=100)

In [14]:
X_train.shape

(712, 2)

In [15]:
y_train.shape

(712,)

In [16]:
X_test.shape

(179, 2)

In [17]:
y_test.shape

(179,)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
model = LogisticRegression()

In [23]:
X_train.isna().sum()

Age       145
Pclass      0
dtype: int64

In [24]:
X_train.fillna(0, inplace=True)

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [25]:
X_train.isna().sum()

Age       0
Pclass    0
dtype: int64

In [26]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
X_test.isna().sum()

Age       32
Pclass     0
dtype: int64

In [28]:
X_test.fillna(0, inplace = True)

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [29]:
X_test.isna().sum()

Age       0
Pclass    0
dtype: int64

In [30]:
y_pred = model.predict(X_test)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_pred, y_test)

0.6815642458100558

In [34]:
model.score(X_train, y_train)

0.6924157303370787